$gray: #7c786a;
$blue: #8dcdc1;
$green: #d3e397;
$greenblue: #1ab188;
$sand: #fff5c3;
$red: #eb6e44;
$white: #ffffff;

.fa-heart {
    color: $red;
}

body {
    box-sizing: border-box;
    padding-top: 2em;
    padding-bottom: 2em;
}

header {
    padding-right: 1em;
    padding-left: 1em;
}

header {
    padding: 2em;
    border-bottom: 1px solid #e5e5e5;
}

header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2em;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.hero {
    text-align: center;
    background-color: #eee;
    border-radius: 6px;
    padding: 1em;
    margin: 0 auto;
    margin-top: 2em;
}

.btn {
    margin-top: 1em;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 0.5em;
}