$gray: #7c786a;
$blue: #8dcdc1;
$green: #d3e397;
$greenblue: #1ab188;
$sand: #fff5c3;
$red: #eb6e44;
$white: #ffffff;

* {
    box-sizing: border-box;
}

/* d^.^b --- Flex Box Grid System --- d^.^b */

/* Parent */
.row {
	display: flex;
	flex-direction: column;
}

/* Child */
.col {
	flex: 1;
	/*margin: 0.6em;
	padding: 0.6em;*/
}

@media screen and (min-width: 50em) {
	.row {
		display: flex;
		flex-direction: row;
	}
}

/* d^.^b --- Thanks For Stopping By! --- d^.^b */

/*.fillout {
	background-color: $blue;
	width: 75%;
	height: 90%;
}*/

.tab-group {
  	list-style: none;
  	padding: 0;
  	margin: 0 0 40px 0;
  	&:after {
    	content: "";
    	clear: both;
  	}

  	li a {
    	display: block;
    	text-decoration: none;
    	padding: 15px;
    	background: rgba(gray, 0.25);
    	color: gray;
    	font-size: 20px;
    	text-align: center;
    	cursor: pointer;
    	transition: .5s ease;
    	&:hover {
      		background: $greenblue;
      		color: $white;
    	}
  	}

  	.active a {
  		background: $greenblue;
  		color: $white;
  	}
}

form {
	width: 320px;
  	float: left;
  	margin: 20px;
  	> div {
    	position: relative;
    	overflow: hidden;
  	}

  	input, textarea {
	    width: 100%;
	    border: 2px solid gray; 
	    background: none;
	    position: relative;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    padding: 8px 12px;
	    outline: 0;
	    &:valid {
	      background: white; 
	    }

    	&:focus {
      		border-color: $greenblue;
    	}

    	&:focus + label {
      		background: $greenblue;
      		color: $white;
      		font-size: 70%;
      		padding: 1px 6px;
      		z-index: 2;
      		text-transform: uppercase;
    	}
  	}

  	label {
    	transition:
      		background 0.4s,
      		color 0.4s,
      		top 0.4s,
      		bottom 0.4s,
      		right 0.4s,
      		left 0.4s;
    	position: absolute;
    	color: #999;
    	padding: 7px 6px;
    	.req {
			color: $greenblue;
		}
  	}

  	textarea {
    	display: block;
    	resize: vertical;
  	}
}

form.go-bottom {
  	input, textarea {
    	padding: 12px 12px 12px 12px; 
  	}

  	label {
    	top: 0;
    	bottom: 0;
    	left: 0;
    	width: 100%;
  	}

  	input:focus, textarea:focus {
    	padding: 4px 6px 20px 6px; 
  	}

  	input:focus + label, textarea:focus + label {
    	top: 100%;
    	margin-top: -16px;
  	}
}